*{
    box-sizing: border-box;
    background-color: gray;
    margin: 0%;
    padding: 0;
    text-align: center;
    font-family: 'Syne', sans-serif;
    
}

a{
    text-decoration: none;
    color: rgb(240, 240, 237);
}

header{
    border: 2px solid black;
    background-image: url(/assets/images/design1_image1.jpg);
    height: 300px;
    width: 100%;
}

.logo{
    width: 20vh;
    right: 100px;
    top: 210px;
    position: absolute;
    border: 1px solid lightskyblue;
}

nav{
    display: inline-block;
    width: 20%;

}

nav > a {
    width: 100%;
}

h1, h2{
    color: rgb(240, 240, 237);
}

h2{
    background-color: black;
}

.sector{
    margin: 40px;
}