*{
    box-sizing: border-box;
    background-color: lightskyblue;
    margin: 0%;
    padding: 0;
    text-align: center;
    font-family: 'Syne', sans-serif;
}

.logo{
    width: 30vh;
    float: center;
}