*{
    box-sizing: border-box;
    background-color: blueviolet;
    margin: 0%;
    padding: 0;
    text-align: center;
    font-family: 'Syne', sans-serif;
}

header{
    border: 1px solid black;
    background-image: url(/mdhl/assets/images/design1_image2.jpg);
    height: 500px;
    width: 100%;
    
}

h1, h2,h3 {
    background-color: black;
    color: aliceblue;
    justify-content: center;
}

section{
    font-size: large;
    padding: 10px;
    margin: 20px;
}

.logo{
    width: 30vh;
    left: 620px;
    position: relative;
}

img{
    object-fit: contain;
}

a{
    text-decoration: none;
    background-color: black;
    border: white solid 1px;
    border-radius: 15px;
    padding: 3px;
    color: aliceblue;

}

.sector{
    margin: 5px;
}