*{
    box-sizing: border-box;
    background-color: blueviolet;
    margin: 0%;
    padding: 0;
    text-align: center;
    font-family: 'Syne', sans-serif;
    border-radius: 5px;
}

header{
    border: 1px solid black;
    background-image: url(/assets/images/design1_image1.jpg);
    height: 500px;
    width: 100%;
    
}

h1{
    background-color: gray;
}

h2{
    background-color: black;
    color: aliceblue;
    justify-content: center;
}

section{
    font-size: xx-large;
    padding: 10px;
}

.logo{
    width: 30vh;
    float: center;
}

img{
    object-fit: contain;
}

a{
    text-decoration: none;
    background-color: blue;
    border: red solid 1px;
    border-radius: 15px;
    padding: 3px;

}

span > a{
    border: black solid 1px;
}